
.card{
	padding: 1rem;

	&:nth-child(odd){
		background-color: #232323;
	}

	&:nth-child(even){
		background-color: #303030
	}

	&__title{
		font-size: 1.3rem;
		color:white
	}

	&__sub-title{
		color: #d0d5dd;
		font-size: 1rem;
	}
}