.input__container {
  width: 100%;
  label {
    color: #d0d5dd;
    display: block;
    margin-bottom: 6px;
  }

  .label__inline {
    display: inline;
  }

  input, select{
    outline: none;
    border: none;
    width: calc(100% - 2 * 15px - 2px);
    width: 100%;
    background-color: #1c1c1c;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #303538;

    //text
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    &:hover,
    &:focus {
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 5px 2px rgba(255, 255, 255, 0.23);
    }
  }

  
}