
.wrapper {
	height: 100%;
	padding-bottom: 1rem;
}

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	height: 3rem;
	display: flex;
	text-align: center;

	&__title{
		font-size: 2rem;;
	}
}

.main{
	height: calc(100% - 3rem) ;
	display: flex;
	flex-direction: column;
}

.filter{
	background-color: #303030;
	padding: 1.25rem 1rem;
	margin-bottom: 2rem;

	&__content{
		width: 50%;
	}
	&__title{
		margin-bottom: 1rem;
	}
}

.table {
	position: relative;	
	flex-grow: 1;

	&__main{
		position: absolute;
		inset:0;
		padding: 0 0;
		background-color: #303030;
		height: 100%;
		display: flex;
		flex-direction: column;
		&__content{
			&::-webkit-scrollbar {
				width: 8px;
			}
			&::-webkit-scrollbar-track {
				background-color: #646464;
			}
			&::-webkit-scrollbar-track-piece {
				background-color: #000;
			}
			&::-webkit-scrollbar-thumb {
				height: 50px;
				background-color: #666;
			}
			flex-grow: 1;
			overflow-y: scroll;
		}

		&__pagination{
			padding: .75rem;
			justify-content: end;
			display: flex;
			gap: .5rem;
			align-items: center;
		}
	}

	
}