
.wrapper {
	height: 100%;
	padding-bottom: 1rem;
}

.container{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	height: 3rem;
	display: flex;
	text-align: center;

	&__title{
		font-size: 2rem;;
	}
}

.main{
	height: calc(100% - 3rem) ;
	display: flex;
	flex-direction: column;
}
